TensorFlow_Tutorial/Lib/
TensorFlow_Tutorial/Scripts/activate
TensorFlow_Tutorial/Scripts/activate.bat
TensorFlow_Tutorial/Scripts/
TensorFlow_Tutorial/share/
TensorFlow_Tutorial/TensorFlow/
TensorFlow_Tutorial/__pycache__/
*.json
*.csv
