
[BINANCE]
ACTUAL_API_KEY = X7dKsathjU2wuXcjWxApcXuV0lJVhxlCqAvzDwhGCMxDKZIS79vrPXQTPC04TFq9
ACTUAL_SECRET_KEY = gosTFLVS1m4Gh7lWrUCMM8JccHysMoY245BUFb1DVifeu6g5QeCRdz5HXm2IxXk0
TEST_API_KEY = 6ctUfYvywwcw1BXOy3Q6Fsg1mi1Hi6pWRJw2slWFOeVpnXHhezjfPKq236WPyQ8V
TEST_SECRET_KEY = OZBGm9qJeNaA83WHL7tSWLkewk2LB9vZlrcyTNwl7uQSxwaVxkMqCvKi7DLO55LW

